<!-- Show Category -->
<div class="alert alert-success">
  <strong>Show Types of Category: </strong><%= @type.name -%>
</div>
<h1></h1>

<ul>
   <% @type.toys.each do |c| %>
   <li><%= link_to c.title, :action => "show", :id => c.id -%></li>
   <% end %>
</ul>